body {
  background-color: #c7dcf1;
}

.container {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #007bff;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type="date"] {
  color: #007bff;
  /* Style the date input if needed */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#profilePicture {
  margin-bottom: 15px;
}


